.comments-area {
  --ca-padding: 60px 0;
  --ca-vertical-spacing: 40px;
  --ca-avatar-size: 60px;

  display: block;
  width: 100%;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.comments__heading > .heading-title {
  margin: 0!important;
  padding-bottom: 20px;
}
.comments-empty-text {
  margin-bottom: 20px;
}
.comments-area .comments-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--ca-padding);
  gap: var(--ca-vertical-spacing);
}
.comments-area .comment-list-item {
  width: 100%;
  position: relative;
}
.comments-area .comment-author {
  display: flex;
  gap:26px;
}
.comments-area .avatar {
  display: block;
  width: var(--ca-avatar-size);
  height: var(--ca-avatar-size);
}
.comments-area .avatar svg {
  width: 100%;
  height: 100%;
}
.comments-area .author-info .name {
  display: block;
  margin-bottom: 10px;
  font-family: var(--global-typography-text-primary-font-family), sans-serif;
  font-size: var(--global-typography-text-primary-font-size);
  font-weight: var(--global-typography-text-primary-font-weight);
  line-height: var(--global-typography-text-primary-font-line-height);
  color: var(--global-color-primary);
}
.comments-area .author-info .comment-date {
  display: block;
  font-family: var(--global-typography-text-secondary-font-family), sans-serif;
  font-size: var(--global-typography-text-secondary-font-size);
  font-weight: var(--global-typography-text-primary-font-weight);
  line-height: var(--global-typography-text-secondary-font-line-height);
  color: #bebebe;
}
.comments-area .comment-text-block {
  width: 100%;
  font-family: var(--global-typography-text-font-family), sans-serif;
  font-size: var(--global-typography-text-font-size);
  font-weight: var(--global-typography-text-font-weight);
  line-height: var(--global-typography-text-font-line-height);
  color: var(--global-color-text);
  text-align: left;
  padding-top: 16px
}
.comments-area .comment-text-block * {
  margin: 0;
}
.comments-area .comment-actions {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 40px 0;
}
.comments-area .comment-actions > li {
  margin-right:16px
}
.comments-area .comment-action-item {
  position: relative;
  font-family: var(--global-typography-text-primary-font-family), sans-serif;
  font-size: var(--global-typography-text-primary-font-size);
  font-weight: var(--global-typography-text-primary-font-weight);
  line-height: var(--global-typography-text-primary-font-line-height);
  color: var(--global-color-text);
  display: flex;
  align-items: center;
}
.comments-area .comment-action-item span:first-child:not(.action-button) {
  margin-right: 6px
}
.comments-area .action-button {
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.comments-area .action-button svg {
  width: 100%;
  height: 100%;
  fill: none;
}
.comments-area .action-button.violation-button:hover svg path {
  stroke: var(--color-critical);
  stroke-dasharray: 280;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite
}
.comments-area .action-button.dislike-button:hover,
.comments-area .action-button.like-button:hover {
  transform: scale(1.1);
}
.comments-area .action-button.like-button.active svg {
  fill: var(--global-color-primary);
}
.comments-area .action-button.dislike-button.active svg {
  fill: var(--color-critical);
}
.comments-area .comment-action-response-msg {
  position: absolute;
  top: 0;
  opacity: 0;
  overflow: hidden;
  padding:5px;
  text-align: center;
  width: 100%;
  min-width: 150px;
  max-width: 100%;
  line-height: 130%;
  font-size: 13px;
  font-weight: 400;
  background-color: #B9D5FD;
  border-radius: 3px;
  border: 1px solid var(--global-color-primary);
  transform: translate3d(0, 100%, 0);
  transition: all .2s ease-in-out;
  user-select: none;
}
.comments-area .comment-action-response-msg.error {
  color: var(--color-critical);
}
.comments-area .comment-action-response-msg.active {
  opacity: 1;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.comments-area .load-comments-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  appearance: none;
  padding: 0;
  width: auto;
  cursor: pointer;
  font-family: var(--global-typography-text-100-font-family), sans-serif;
  font-size: var(--global-typography-text-100-font-size);
  font-weight: var(--global-typography-text-100-font-weight);
  line-height: var(--global-typography-text-100-font-line-height);
  color: var(--global-color-primary);
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
}
.comments-area .load-comments-btn .loading-overlay {
  left: 50%;
  top: calc(50% - 8px);
  display:none;
}
.comments-area .load-comments-btn .loading-overlay .loading-overlay__spinner {
  width: 100%;
}
.comments-area .load-comments-btn .loading-overlay .loading-overlay__spinner .path {
  stroke: var(--global-color-primary);
}
.comments-area .load-comments-btn.loading .loading-overlay {
  display:block;
}
.comments-area .load-comments-btn.loading span {
  opacity: 0;
}
.comments-area .load-comments-icon-caret {
  display:block;
  width: 20px;
  height: 20px;
}
.comments-area .load-comments-icon-caret svg {
  width: 100%;
  height: 100%;
}
